* {
  overflow: auto;
}

.Wrapper {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-auto-rows: 20px auto;
  height: 100vh;
}

.logoutButton {
  grid-column: 1 / -1;
  align-self: start;
  justify-self: end;
}

.sc-header--close-button {
  display: flex;
  justify-content: center;
  align-content: center;
}

.sc-header--close-button::after {
  margin: auto;
  content: 'X';
}

.sc-user-input--file-icon-wrapper {
  visibility: hidden;
}

.sc-header--close-button img {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

.sc-user-input--text::-webkit-scrollbar {
  display: none;
}